<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-logo">Football Cards</a>
    </div>
    <div class="navbar-menu">
      <a href="/players" class="navbar-item">Players</a>
      <a href="/teams" class="navbar-item">Teams</a>
    </div>
  </div>
</nav> 